<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nutritionix</key>
	<dict>
		<key>xAppId</key>
		<string>902b9756</string>
		<key>xAppKey</key>
		<string>3ab31613e6e094fe5b9c9e63e0f2bf73</string>
	</dict>
</dict>
</plist>
